 <div class="user-details">
  <h1> My Expertise </h1>
  <p> {{site.user_description}} </p>
</div>
  <div class="user">
    <div class="tech">
      <h2>Code</h2>
      <i class="icon-java"></i>
      <i class="icon-bash"></i>
      <i class="icon-python"></i>
      <p>Java &bull; Jee &bull; EJB3 &bull; JPA2 &bull; Hibernate &bull; JSON/REST &bull; SQL &bull; Python &bull; bash &bull; C &bull; Informix&#8239;4gl &bull; PHP &bull; BPMN &bull; UML &bull; XML</p>
    </div>
    <div class="tech">
      <h2>Tools</h2>
      <i class="icon-git"></i>
      <i class="icon-docker"></i>
      <i class="icon-jenkins"></i>
      <p>Git &bull; SVN &bull; Maven &bull; Eclipse &bull; Liquibase &bull; Gradle &bull; Docker &bull; Vagrant &bull; Jenkins &bull; Nexus &bull; Ansible &bull; Sensu</p>
    </div>
    <div class="tech">
      <h2>Platforms</h2>
      <i class="icon-raspberry"></i>
      <i class="icon-arduino"></i>
      <i class="icon-linux"></i>
      <p>Linux &bull; Windows &bull; Arduino &bull; Raspberry Pi &bull; ESP8266</p>
    </div>
</div>
